<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error handler | GUDLFT app</title>
</head>

<body>
    <h2>Welcome </h2>

    <h4>Unauthorized</h4>
    <p>
        Sorry ! 
        The server could not verify that you are authorized to access the URL requested. You either supplied the wrong
        credentials (e.g. a bad password), or your browser doesn't understand how to supply the credentials required.
    </p>

    {% with messages = get_flashed_messages()%}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif%}


    {%endwith%}

</body>

</html>